@import '../utils/variables';

body {
  background-color: $color-black;
}

.app {
  display: block;
  margin: auto;
  width: 60%;
  background-color: $color-white;
  padding: 40px;
}

.spinnerContainer {
  background-color: $color-white;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 60%;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  align-self: center;
  margin: 200px;
  height: 100px;
  width: 100px;
  animation: spinner 1s linear infinite;
}

.searchRow {
  margin: 40px 0;
}

.searchBox {
  height: 30px;
  width: 250px;
}
