@import '../utils/variables';

body {
  background-color: $color-black;
}

.app {
  margin: auto;
  width: 60%;
  background-color: $color-white;
  display: block;
  padding: 40px;
}

.header {
  width: 100%;
  font-size: 24px;
}

.actionButtons {
  float: right;
}

.actionButtons button {
  margin: 0 5px;
}

%btn {
  padding: 12px 24px;
  background: none;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  max-height: 50px;
}

.primaryBtn {
  @extend %btn;
  color: $color-white;
  background-color: $color-primary-btn;
}

.secondaryBtn {
  @extend %btn;
  background-color: $color-secondary-btn;
  border: 1px solid $color-gray;
}

.searchRow {
  margin: 40px 0;
}

.searchBox {
  height: 30px;
  width: 250px;
}

.paginationRight {
  float: right;
}
