.container {
  width: 100%;
}

.column5 {
  display: inline-block;
  width: 3%;
}

.column35 {
  display: inline-block;
  width: 35%;
}

.column20 {
  display: inline-block;
  width: 20%;
}

.productRow {
  min-height: 100px;
}
