@import '../utils/variables';

.container {
  width: 100%;
  margin-bottom: 10px;

  div {
    border-bottom: 1px solid $color-gray;
    padding: 10px 0;
    border-bottom: 1px solid $color-gray;
  }
}

.column5 {
  display: inline-block;
  width: 3%;
}

.column35 {
  display: inline-block;
  width: 35%;
}

.column20 {
  display: inline-block;
  width: 20%;
}

.headerRow {
  cursor: pointer;
}

.productRow {
  min-height: 50px;
}

.checkedRow {
  background-color: $color-row-highlight;
}

.editableRowInput {
  max-width: 80%;
}

.noResultsFound {
  font-size: 18px;
  text-align: center;
}

.inputError {
  border: 1px solid $color-crimson;
}

.labelError {
  color: $color-crimson;
}
